4_WhatsApp_Reminder.json
{
  "name": "WhatsApp Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 12, "triggerAtMinute": 30 }] }
      },
      "id": "323181ad-6140-4737-8f20-2b521691e5d4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-64, 112]
    },
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec?action=getTomorrowBookings",
        "options": {}
      },
      "id": "f4a04d58-e90d-419a-8897-400c876ed1a3",
      "name": "Get Tomorrow Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [224, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [{ "id": "16665dca-8112-4004-95dc-6bb09fad5f3e", "leftValue": "={{ $json.count }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ba8a676a-901a-49d5-b720-87ae8dc263f7",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [496, 112]
    },
    {
      "parameters": {
        "jsCode": "const bookings = $input.first().json.bookings || [];\nreturn bookings.map(b => {\n  let timeFormatted = String(b.time || '');\n  const t = timeFormatted.toLowerCase().trim();\n  const match24 = t.match(/^(\\d{1,2}):(\\d{2})$/);\n  if (match24) {\n    const h = parseInt(match24[1]);\n    if (h === 0) timeFormatted = '12am';\n    else if (h < 12) timeFormatted = h + 'am';\n    else if (h === 12) timeFormatted = '12pm';\n    else timeFormatted = (h - 12) + 'pm';\n  }\n  return { json: { ...b, timeFormatted } };\n});"
      },
      "id": "812e2498-5260-4f19-a019-9afff7144bec",
      "name": "Split Bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, 96]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1093164003887900/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer EAAXR63I2WKMBR0AbS6rCldgll8dvhzuRZBcyVIadaLucXu1CMcHAPozZA2R8eZB8NPKXlDvuZCrb2bzzolMrkycoCgjZA4x81LLs04g5lo5M8w5SMTGZA6YKEFKVfPMkx3dngK2JgM9fuuSlWvBIQcaAZAZCQhzPlFLSgWrCHhJ6OIPLNzcuA0ZAiYd0ZB8S2sAFX7DTCyYSyVd7prNZCWwUyJrHWlDqeB25iAOckTHJXSpGZCcRcHWpaNBabDegci9k8SsfTzgpIF2z42U08JrYLXNi" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Hi {{ $json.name }}! 👋 Reminder from Handysolver Car Dealership 🚗\\n\\nYour *{{ $json.car }}* test drive is scheduled for *tomorrow* at *{{ $json.timeFormatted }}*.\\n\\nSee you at the showroom! 😊\\n\\n_Handysolver Car Dealership_\"\n  }\n}",
        "options": {}
      },
      "id": "b0ccfdc7-c85d-482f-977a-36e6b7b9cf62",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [912, 96]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get Tomorrow Bookings", "type": "main", "index": 0 }]] },
    "Get Tomorrow Bookings": { "main": [[{ "node": "If", "type": "main", "index": 0 }]] },
    "If": { "main": [[{ "node": "Split Bookings", "type": "main", "index": 0 }]] },
    "Split Bookings": { "main": [[{ "node": "Send WhatsApp Reminder", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
