6_Same_Day_Reminder.json
{
  "name": "Same Day Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 9, "triggerAtMinute": 0 }] }
      },
      "id": "sdr-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-64, 112]
    },
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec?action=getAllBookings",
        "options": {}
      },
      "id": "sdr-0001-0001-0001-000000000002",
      "name": "Get All Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [160, 112]
    },
    {
      "parameters": {
        "jsCode": "const bookings = $input.first().json.bookings || [];\nconst now = new Date();\nconst ist = new Date(now.getTime() + (5.5 * 60 * 60 * 1000));\nconst todayStr = String(ist.getDate()).padStart(2,'0') + '-' + String(ist.getMonth()+1).padStart(2,'0') + '-' + ist.getFullYear();\n\nconst filtered = bookings.filter(b => b.date === todayStr && b.status !== 'Cancelled');\n\nreturn filtered.map(b => {\n  let timeFormatted = String(b.time || '');\n  const t = timeFormatted.toLowerCase().trim();\n  const match24 = t.match(/^(\\d{1,2}):(\\d{2})$/);\n  if (match24) {\n    const h = parseInt(match24[1]);\n    if (h === 0) timeFormatted = '12am';\n    else if (h < 12) timeFormatted = h + 'am';\n    else if (h === 12) timeFormatted = '12pm';\n    else timeFormatted = (h - 12) + 'pm';\n  }\n  return { json: { ...b, timeFormatted } };\n});"
      },
      "id": "sdr-0001-0001-0001-000000000003",
      "name": "Filter Today Bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [{ "id": "sdr-cond-001", "leftValue": "={{ $json.phone }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "sdr-0001-0001-0001-000000000004",
      "name": "Has Bookings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [640, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1093164003887900/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer EAAXR63I2WKMBR0AbS6rCldgll8dvhzuRZBcyVIadaLucXu1CMcHAPozZA2R8eZB8NPKXlDvuZCrb2bzzolMrkycoCgjZA4x81LLs04g5lo5M8w5SMTGZA6YKEFKVfPMkx3dngK2JgM9fuuSlWvBIQcaAZAZCQhzPlFLSgWrCHhJ6OIPLNzcuA0ZAiYd0ZB8S2sAFX7DTCyYSyVd7prNZCWwUyJrHWlDqeB25iAOckTHJXSpGZCcRcHWpaNBabDegci9k8SsfTzgpIF2z42U08JrYLXNi" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Good morning {{ $json.name }}! ☀️\\n\\nThis is a reminder from Handysolver Car Dealership 🚗\\n\\nYour *{{ $json.car }}* test drive is scheduled for *today* at *{{ $json.timeFormatted }}*.\\n\\nWe look forward to seeing you! 😊\\n\\n_Handysolver Car Dealership_\"\n  }\n}",
        "options": {}
      },
      "id": "sdr-0001-0001-0001-000000000005",
      "name": "Send Same Day Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, 96]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get All Bookings", "type": "main", "index": 0 }]] },
    "Get All Bookings": { "main": [[{ "node": "Filter Today Bookings", "type": "main", "index": 0 }]] },
    "Filter Today Bookings": { "main": [[{ "node": "Has Bookings?", "type": "main", "index": 0 }]] },
    "Has Bookings?": { "main": [[{ "node": "Send Same Day Reminder", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
