7_One_Hour_Before_Reminder.json
{
  "name": "One Hour Before Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 1 }] }
      },
      "id": "ohbr-0001-0001-0001-000000000001",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-64, 112]
    },
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec?action=getAllBookings",
        "options": {}
      },
      "id": "ohbr-0001-0001-0001-000000000002",
      "name": "Get All Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [160, 112]
    },
    {
      "parameters": {
        "jsCode": "const bookings = $input.first().json.bookings || [];\nconst now = new Date();\nconst ist = new Date(now.getTime() + (5.5 * 60 * 60 * 1000));\n\nconst todayStr = String(ist.getDate()).padStart(2,'0') + '-' + String(ist.getMonth()+1).padStart(2,'0') + '-' + ist.getFullYear();\nconst currentHour = ist.getHours();\nconst targetHour = currentHour + 1;\n\nfunction parseHour(timeStr) {\n  const t = String(timeStr || '').toLowerCase().trim();\n  const ampm = t.match(/^(\\d{1,2})(am|pm)$/);\n  if (ampm) {\n    let h = parseInt(ampm[1]);\n    if (ampm[2] === 'pm' && h !== 12) h += 12;\n    if (ampm[2] === 'am' && h === 12) h = 0;\n    return h;\n  }\n  const h24 = t.match(/^(\\d{1,2}):(\\d{2})$/);\n  if (h24) return parseInt(h24[1]);\n  return null;\n}\n\nfunction formatTime(timeStr) {\n  const t = String(timeStr || '').toLowerCase().trim();\n  const match24 = t.match(/^(\\d{1,2}):(\\d{2})$/);\n  if (match24) {\n    const h = parseInt(match24[1]);\n    if (h === 0) return '12am';\n    if (h < 12) return h + 'am';\n    if (h === 12) return '12pm';\n    return (h - 12) + 'pm';\n  }\n  return timeStr;\n}\n\nconst filtered = bookings.filter(b => {\n  if (b.date !== todayStr) return false;\n  if (b.status === 'Cancelled') return false;\n  const bookingHour = parseHour(b.time);\n  return bookingHour === targetHour;\n});\n\nreturn filtered.map(b => ({ json: { ...b, timeFormatted: formatTime(b.time) } }));"
      },
      "id": "ohbr-0001-0001-0001-000000000003",
      "name": "Filter 1 Hour Away",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [{ "id": "ohbr-cond-001", "leftValue": "={{ $json.phone }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ohbr-0001-0001-0001-000000000004",
      "name": "Has Upcoming?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [640, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1093164003887900/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer EAAXR63I2WKMBR0AbS6rCldgll8dvhzuRZBcyVIadaLucXu1CMcHAPozZA2R8eZB8NPKXlDvuZCrb2bzzolMrkycoCgjZA4x81LLs04g5lo5M8w5SMTGZA6YKEFKVfPMkx3dngK2JgM9fuuSlWvBIQcaAZAZCQhzPlFLSgWrCHhJ6OIPLNzcuA0ZAiYd0ZB8S2sAFX7DTCyYSyVd7prNZCWwUyJrHWlDqeB25iAOckTHJXSpGZCcRcHWpaNBabDegci9k8SsfTzgpIF2z42U08JrYLXNi" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"⏰ Heads up, {{ $json.name }}!\\n\\nYour *{{ $json.car }}* test drive at Handysolver Car Dealership is in *1 hour* at *{{ $json.timeFormatted }}* today.\\n\\nPlease make sure you're on your way! 🚗\\n\\n_Handysolver Car Dealership_\"\n  }\n}",
        "options": {}
      },
      "id": "ohbr-0001-0001-0001-000000000005",
      "name": "Send 1 Hour Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, 96]
    }
  ],
  "connections": {
    "Every Hour": { "main": [[{ "node": "Get All Bookings", "type": "main", "index": 0 }]] },
    "Get All Bookings": { "main": [[{ "node": "Filter 1 Hour Away", "type": "main", "index": 0 }]] },
    "Filter 1 Hour Away": { "main": [[{ "node": "Has Upcoming?", "type": "main", "index": 0 }]] },
    "Has Upcoming?": { "main": [[{ "node": "Send 1 Hour Reminder", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
