n8n-workflow-files/3_WhatsApp_Reply_Handler.json
{
  "updatedAt": "2026-07-01T09:11:34.437Z",
  "createdAt": "2026-06-25T19:00:33.430Z",
  "id": "KpQWF3OSLckjAbCt",
  "name": "WhatsApp Reply Handler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "8fe0c57e-3195-44ab-bc7f-e9352c9aec0a",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2480,
        16
      ],
      "webhookId": "339a3fc7-2e85-4623-8166-5cd972d35989"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "18e41207-3dc6-4c7d-8f00-45e579c39066",
      "name": "Only Incoming Messages",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -2272,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const value = $json.body?.entry?.[0]?.changes?.[0]?.value;\n  if (!value || value.statuses || !value.messages || !value.messages[0]) return [];\n  \n  const messageId = value.messages[0].id;\n  if (!messageId) return [];\n\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedMessages) staticData.processedMessages = {};\n\n  const now = Date.now();\n  for (const id in staticData.processedMessages) {\n    if (now - staticData.processedMessages[id] > 3600000) {\n      delete staticData.processedMessages[id];\n    }\n  }\n\n  if (staticData.processedMessages[messageId]) return [];\n\n  staticData.processedMessages[messageId] = now;\n  return [$input.first()];\n} catch(e) {\n  return [];\n}"
      },
      "id": "4ba81dce-a81e-49ec-8e1b-85da8351d538",
      "name": "Deduplicate Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const entry = $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value;\nconst message = entry.messages[0];\nconst messageType = message.type;\nconst phone = message.from;\n\nif (messageType !== 'text') {\n  return [{\n    json: {\n      isText: false,\n      phone: phone,\n      type: messageType,\n      reply: \"Sorry, I can only process text messages right now. ?? Please type your query and I'll be happy to help!\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isText: true,\n    phone: phone,\n    type: 'text',\n    message: message.text.body\n  }\n}];"
      },
      "id": "e9bec9af-c33a-4b3b-a6e0-c836a96d4ca7",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f66543c-654b-4334-8483-be233f64bf51",
              "leftValue": "={{ $json.isText }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc0e3039-cd99-4685-9c4e-69da4429bfee",
      "name": "Is Text Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1536,
        16
      ]
    },
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "getHistory"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1c8f6fd-fb20-4112-be25-13050a3787c2",
      "name": "Get History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1328,
        16
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Build Groq Request').item.json.groqKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Build Groq Request').item.json.body) }}",
        "options": {}
      },
      "id": "65d18b1d-ef2c-452b-86d1-13cee9680a51",
      "name": "Groq AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        16
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $('Groq AI').first().json;\n\n  if (!raw.choices || !raw.choices[0] || !raw.choices[0].message) {\n    return [{ json: { message: \"I'm a bit busy right now, please send your message again! ??\", booking: null, hasBooking: false, stage: 'error' } }];\n  }\n\n  const responseText = raw.choices[0].message.content || '';\n  let parsed;\n\n  try {\n    parsed = JSON.parse(responseText);\n  } catch(e) {\n    const match = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); }\n      catch(e2) { return [{ json: { message: responseText.replace(/[\\x00-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim(), booking: null, hasBooking: false, stage: 'other' } }]; }\n    } else {\n      return [{ json: { message: responseText.replace(/[\\x00-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim(), booking: null, hasBooking: false, stage: 'other' } }];\n    }\n  }\n\n  const message = (parsed.message || \"Sorry, I couldn't process that. Please try again!\")\n    .replace(/[\\x00-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim();\n\n  const booking = parsed.booking || null;\n  const customerNameFromAI = (parsed.customerName && parsed.customerName.trim().length > 0) ? parsed.customerName.trim() : null;\n  const currentMsg = ($('Check Message Type').first().json.message || '').toLowerCase().trim();\n\n  const greetingWords = ['hi','hello','hey','hii','helo','namaste','hola','sup','yo','hai'];\n  const isPureGreeting = greetingWords.includes(currentMsg);\n\n  const noBookingPhrases = [\n    'was booking', 'kya booking', 'booking done', 'booking hua', 'booking huyi',\n    'book ho gayi', 'book hua', 'book huyi', 'check booking', 'booking ho gayi',\n    'pahle booking', 'pichhli booking', 'previous booking', 'booking check',\n    'kya pichhli', 'booking huyi thi', 'was my booking', 'is my booking',\n    'booking status', 'meri booking', 'booking confirm hui'\n  ];\n\n  const isSafetyBlock = isPureGreeting || noBookingPhrases.some(phrase => currentMsg.includes(phrase));\n  const hasBooking = !isSafetyBlock && !!(booking && booking.car && booking.date && booking.time);\n\n  return [{ json: { message, booking: hasBooking ? booking : null, hasBooking, stage: parsed.stage || 'other' } }];\n\n} catch(e) {\n  return [{ json: { message: \"Sorry, something went wrong. Please try again!\", booking: null, hasBooking: false, stage: 'error' } }];\n}"
      },
      "id": "98f8bff4-111b-4671-8f17-035657596417",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Check Message Type').first().json.phone;\nconst userMessage = $('Check Message Type').first().json.message;\nconst aiResponse = $('Parse Response').first().json.message;\nconst stage = $('Parse Response').first().json.stage;\nconst booking = $('Parse Response').first().json.booking;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.conversations) staticData.conversations = {};\nif (!staticData.lastBookings) staticData.lastBookings = {};\nif (!staticData.conversations[phone]) staticData.conversations[phone] = [];\n\nstaticData.conversations[phone].push({ role: 'user', message: userMessage });\nstaticData.conversations[phone].push({ role: 'assistant', message: aiResponse });\n\n// Save customer name if AI extracted it this turn\nconst detectedName = $('Parse Response').first().json.customerName;\nif (detectedName) {\n  if (!staticData.customerNames) staticData.customerNames = {};\n  staticData.customerNames[phone] = detectedName;\n}\n\nif (staticData.conversations[phone].length > 40) {\n  staticData.conversations[phone] = staticData.conversations[phone].slice(-40);\n}\n\nif (stage === 'confirmed' && booking && booking.car && booking.date && booking.time) {\n  staticData.lastBookings[phone] = {\n    car: booking.car,\n    date: booking.date,\n    time: booking.time,\n    confirmedAt: new Date().toISOString()\n  };\n  staticData.conversations[phone] = staticData.conversations[phone].slice(-6);\n}\n\nreturn [{ json: { saved: true, historyLength: staticData.conversations[phone].length } }];"
      },
      "id": "f13312bb-10e9-428d-bf86-d6ce988e84a2",
      "name": "Save History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "29e70ed5-ad29-4470-a8f4-519afb19a76a",
              "leftValue": "={{ $('Parse Response').item.json.hasBooking }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed599854-7e08-449d-9798-74a8fcac211a",
      "name": "Has Booking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAXR63I2WKMBR4KQao7Xs1CtKHxnIMT4IUz8jngkz3ZC6NjqR7Bh2btKZCyKYOyFo3uAzj65Pz3KF2sOk1sWBsHRDlXF2WZAcV6PIMRqHtfZByfcBlfTD1m8hO6qQehTNUDbSNVqNwCTToXX3C9wlRtMwhX65XfxhlvX6c3cMTZApb4t1bCe0GA6xSOtKAQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.messages[0].from }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ ({body: \"Just a moment... ?\"}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bbe4e57d-18db-4f9c-949e-3c5d0b7212c0",
      "name": "Send Processing Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"saveBooking\",\n  \"name\": \"WA-{{ $('WhatsApp Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"phone\": \"{{ $('WhatsApp Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"car\": \"{{ $('Parse Response').item.json.hasBooking ? $('Parse Response').item.json.booking.car : '' }}\",\n  \"date\": \"{{ $('Parse Response').item.json.hasBooking ? $('Parse Response').item.json.booking.date : '' }}\",\n  \"time\": \"{{ $('Parse Response').item.json.hasBooking ? $('Parse Response').item.json.booking.time : '' }}\"\n}",
        "options": {}
      },
      "id": "73f0e3c0-65ef-4c14-801b-13f1a2025a4b",
      "name": "Save Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        0
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"saveConversation\",\n  \"phone\": \"{{ $('WhatsApp Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"userMessage\": \"{{ $('WhatsApp Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body }}\",\n  \"aiResponse\": \"{{ $('Parse Response').item.json.message }}\"\n}",
        "options": {}
      },
      "id": "1a7a1cfd-8d59-4d25-8b41-e65c12a20bc3",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        0
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAXR63I2WKMBR4KQao7Xs1CtKHxnIMT4IUz8jngkz3ZC6NjqR7Bh2btKZCyKYOyFo3uAzj65Pz3KF2sOk1sWBsHRDlXF2WZAcV6PIMRqHtfZByfcBlfTD1m8hO6qQehTNUDbSNVqNwCTToXX3C9wlRtMwhX65XfxhlvX6c3cMTZApb4t1bCe0GA6xSOtKAQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.messages[0].from }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ ({body: $('Parse Response').first().json.message}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31d486bd-7c2d-404f-ab56-b1c31e21df74",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAXR63I2WKMBR4KQao7Xs1CtKHxnIMT4IUz8jngkz3ZC6NjqR7Bh2btKZCyKYOyFo3uAzj65Pz3KF2sOk1sWBsHRDlXF2WZAcV6PIMRqHtfZByfcBlfTD1m8hO6qQehTNUDbSNVqNwCTToXX3C9wlRtMwhX65XfxhlvX6c3cMTZApb4t1bCe0GA6xSOtKAQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.messages[0].from }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ ({body: \"Sorry, I can only read text messages ?? Please type your question and I'll help you right away!\"}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "de6b6ce6-42c4-4682-af8b-3b52985d2656",
      "name": "Send Non-Text Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://car-dealership-xi-rouge.vercel.app/api/n8n/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('Check Message Type').first().json.phone, name: 'WA-' + $('Check Message Type').first().json.phone, inbound_text: $('Check Message Type').first().json.message, outbound_text: $('Parse Response').first().json.message, booking: $('Parse Response').first().json.hasBooking ? $('Parse Response').first().json.booking : null }) }}",
        "options": {}
      },
      "id": "dashboard-sync-0001-0001-0001",
      "name": "Sync to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        272
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Check Message Type').first().json.phone;\nconst currentMessage = $('Check Message Type').first().json.message;\n\n// ── RESET command: clears conversation for this phone ──\nif (currentMessage.trim().toLowerCase() === '/reset' || currentMessage.trim() === 'RESET_SESSION') {\n  const sd = $getWorkflowStaticData('global');\n  if (sd.conversations) delete sd.conversations[phone];\n  if (sd.customerNames) delete sd.customerNames[phone];\n  if (sd.lastBookings) delete sd.lastBookings[phone];\n  return [{ json: { groqKey: 'skip', body: null, customerName: null, _reset: true, message: 'Session reset! Send Hi to start fresh.' } }];\n}\n\nconst names = ['Raj','Priya','Amit','Neha','Rahul','Pooja','Vikram','Anjali'];\nconst nameIndex = phone.split('').reduce((sum,c) => sum+c.charCodeAt(0),0) % names.length;\nconst agentName = names[nameIndex];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.conversations) staticData.conversations = {};\nif (!staticData.lastBookings) staticData.lastBookings = {};\n\nconst history = (staticData.conversations[phone] || [])\n  .filter(m => m.message && m.message.trim().length > 0)\n  .slice(-10);\n\nlet budget = '', carInterest = '', bookingStage = 'initial';\nconst historyText = history.map(m => m.message).join(' ').toLowerCase();\nconst bm = historyText.match(/(\\d+[\\s]*(?:lakh|lac|k|thousand|crore))/);\nif (bm) budget = bm[0];\nconst carBrands = ['maruti','swift','baleno','dzire','wagon','alto','celerio','ignis','ertiga','brezza','vitara','xl6','ciaz','spresso','honda','city','amaze','elevate','jazz','hyundai','creta','i20','venue','verna','aura','alcazar','tucson','ioniq','kona','tata','nexon','harrier','safari','punch','altroz','tiago','tigor','curvv','mahindra','scorpio','xuv','bolero','thar','marazzo','toyota','innova','fortuner','glanza','hyryder','kia','seltos','sonet','carens','ev6','volkswagen','virtus','taigun','skoda','slavia','kushaq','mg','hector','astor','windsor','comet','zsev','jeep','compass','meridian','wrangler','renault','kiger','kwid','triber','duster','nissan','magnite','kicks','bmw','audi','mercedes','volvo','lexus','jaguar','land rover','porsche','citroen','isuzu','byd','force'];\nfor (const b of carBrands) { if (historyText.includes(b)) { carInterest = b; break; } }\nif (historyText.includes('test drive') || historyText.includes('book')) bookingStage = 'booking';\nelse if (historyText.includes('price') || historyText.includes('cost') || historyText.includes('budget')) bookingStage = 'qualification';\nelse if (history.length > 0) bookingStage = 'conversation';\n\nconst isFirstMessage = history.length === 0;\n\nconst today = new Date();\nconst todayStr = today.toLocaleDateString('en-IN', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  timeZone: 'Asia/Kolkata'\n});\n\nconst lastBooking = staticData.lastBookings[phone];\nconst lastBookingInfo = lastBooking\n  ? `CUSTOMER'S LAST CONFIRMED BOOKING: Car = ${lastBooking.car}, Date = ${lastBooking.date}, Time = ${lastBooking.time}. Use this when customer asks about their booking status.`\n  : `No previous booking on record for this customer.`;\n\nconst greetingWords = ['hi','hello','hey','hii','helo','namaste','hola','sup','yo','hai','hei'];\nconst isPureGreeting = greetingWords.includes(currentMessage.trim().toLowerCase());\n\nconst systemPrompt = `You are ${agentName}, a friendly sales agent at Handysolver Car Dealership.\nToday is ${todayStr}.\n\n${lastBookingInfo}\n\nCRITICAL RULES:\n1. ${isFirstMessage ? `FIRST message — greet and ask for name: \"Hi! I'm ${agentName} from Handysolver Car Dealership! 👋 Welcome! May I know your name?\"` : `NOT first message. NEVER say hello or re-introduce yourself. Continue naturally.`}\n2. CUSTOMER NAME: ${customerName ? `Known as \"${customerName}\". Use their name occasionally in replies to make it personal.` : `Unknown. If customer provides their name in this message, extract it and set the customerName field in your JSON output.`}\n3. Context: Budget=${budget||'not mentioned'}, Car Interest=${carInterest||'not mentioned'}, Stage=${bookingStage}\n4. SHORT replies (2-4 lines). Conversational. No bullet points unless listing cars.\n5. Respond in same language as customer (Hindi/Hinglish/English).\n6. ${isPureGreeting && isFirstMessage ? `FIRST greeting - reply ONLY: \"Hello! How can I help you today? ??\" Return booking: {\"car\":null,\"date\":null,\"time\":null} and stage: \"other\".` : isPureGreeting ? `Customer said hi mid-conversation. Reply naturally and warmly (e.g. \"Hey! What can I help you with?\") - do NOT re-introduce yourself. Return booking: {\"car\":null,\"date\":null,\"time\":null} and stage: \"other\".` : `Continue naturally based on context.`}\n\nINVENTORY:\nWe are a multi-brand dealership stocking ALL popular cars available in India across every segment and brand - Maruti Suzuki, Hyundai, Tata, Honda, Kia, Toyota, Mahindra, MG, Skoda, Volkswagen, Renault, Nissan, Jeep, Citroen, Isuzu, BYD, BMW, Audi, Mercedes-Benz, Volvo, and more. New and used cars both available.\n\nPRICE RANGES BY SEGMENT:\n- Hatchbacks: ?3.5L-11L (Alto, Swift, i20, Altroz, Baleno, Wagon R, Tiago, Kwid etc.)\n- Micro SUVs: ?6L-15L (Punch, Magnite, Kiger, XUV 3XO etc.)\n- Sedans: ?6.5L-19L (Dzire, City, Verna, Amaze, Slavia, Virtus etc.)\n- Compact SUVs: ?8L-22L (Nexon, Brezza, Venue, Sonet, Elevate, Kushaq, Taigun, Compass etc.)\n- Mid SUVs: ?11L-25L (Creta, Seltos, Alcazar, Hector, Astor, Grand Vitara etc.)\n- Large SUVs: ?13L-40L (Harrier, Safari, Scorpio N, Thar, Fortuner, Tucson etc.)\n- MPVs: ?6L-30L (Ertiga, Carens, Innova Crysta, Innova HyCross, XL6, Triber etc.)\n- Electric: ?7L-65L+ (Tiago EV, Punch EV, Nexon EV, Windsor EV, ZS EV, Ioniq 5, EV6, BYD Atto 3 etc.)\n- Luxury: ?45L-2Cr+ (BMW, Audi, Mercedes, Volvo, Jaguar, Porsche etc.)\n- Used Cars: Starting ?2L\n\nINVENTORY RULE: Since we stock all popular Indian cars, NEVER say a car is unavailable unless it is not sold in India at all. Use your knowledge of Indian car prices and variants to answer accurately. EMI, exchange, and insurance available on all cars.\n\nBOOKING RULES:\n6. Set booking.car, booking.date, booking.time to non-null ONLY when customer provides ALL THREE in their CURRENT message - car model + specific date (DD-MM-YYYY) + time slot.\n7. When customer agrees to test drive ? ask: \"Perfect! What date works for you, and what time? We're available any time between 9am-9pm ??\"\n8. When customer gives relative date (tomorrow, next Monday etc.) ? calculate exact date from today (${todayStr}) and confirm.\n9. CONFIRMATION: Any affirmative response counts as YES - yes, haan, ok, sure, absolutely, correct, right, exactly, perfect, definitely, of course, bilkul, theek hai, yep, yup, ha.\n10. booking.date must ALWAYS be in DD-MM-YYYY format.\n11. If date is in the past ? say \"That date has passed! Could you pick a future date? ??\"\n\nSTATUS & REPEAT SCENARIOS:\n12. Status questions ? use LAST CONFIRMED BOOKING info to answer.\n13. Cancel request ? say \"I'll have our team cancel your booking. They'll contact you shortly.\"\n14. Reschedule request ? ask for new date/time only.\n\nCUSTOMER HANDLING:\n15. Angry/frustrated ? \"I completely understand your frustration, and I'm sorry for the inconvenience. ??\"\n16. Off-topic ? \"Ha ha! I wish I could help with that ?? But I'm your car expert!\"\n17. Budget under ?3L ? suggest used cars starting ?2L.\n18. NEVER say \"Let me check\" or \"I'll look up\" - answer confidently.\n19. Business hours 9am-9pm. Outside hours ? ask for a slot between 9am-9pm.\n\nOUTPUT RULES - CRITICAL:\n- Return valid JSON only. No extra text.\n- Format: {\"message\":\"reply here\",\"stage\":\"initial|qualification|recommendation|booking|confirmed|other\",\"booking\":{\"car\":null,\"date\":null,\"time\":null},\"customerName\":null}\n- customerName: set to the customer's name (string) if they mentioned it in this message, otherwise null. Never guess.\n- stage = \"confirmed\" ONLY when setting all three booking fields to non-null.\n- booking.time format: \"9am\", \"10am\", \"11am\", \"12pm\", \"1pm\" etc. NEVER 24-hour format.\n- For ALL other messages booking must be: {\"car\":null,\"date\":null,\"time\":null}`;\n\nconst messages = [{ role: 'system', content: systemPrompt }];\nfor (const msg of history) {\n  messages.push({ role: msg.role === 'assistant' ? 'assistant' : 'user', content: msg.message });\n}\nmessages.push({ role: 'user', content: currentMessage });\n\nconst groqKeys = [\n  \"GROQ_KEY_1\",\n  \"GROQ_KEY_2\",\n  \"GROQ_KEY_3\",\n  \"GROQ_KEY_4\",\n  \"GROQ_KEY_5\"\n];\nconst groqKey = groqKeys[Math.floor(Math.random() * groqKeys.length)];\n\nreturn [{\n  json: {\n    groqKey,\n    body: {\n      model: \"llama-3.3-70b-versatile\",\n      messages: messages,\n      temperature: 0.3,\n      max_tokens: 500,\n      response_format: { type: \"json_object\" }\n    }\n  }\n}];"
      },
      "id": "3af2f09b-42d7-4739-9da2-c88ddd595eea",
      "name": "Build Groq Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        16
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Only Incoming Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Incoming Messages": {
      "main": [
        [
          {
            "node": "Deduplicate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Message": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Is Text Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Text Message?": {
      "main": [
        [
          {
            "node": "Get History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Non-Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History": {
      "main": [
        [
          {
            "node": "Build Groq Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Save History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History": {
      "main": [
        [
          {
            "node": "Has Booking?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Booking?": {
      "main": [
        [
          {
            "node": "Send Processing Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Msg": {
      "main": [
        [
          {
            "node": "Save Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Booking": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Dashboard": {
      "main": [
        []
      ]
    },
    "Build Groq Request": {
      "main": [
        [
          {
            "node": "Groq AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "processedMessages": {
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMEE2RTg4NTM5RjZDRTc1NkI3QQA=": 1782895417964,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMEQ1NDUwMTc4MzNDMTRFRTlGRAA=": 1782896380543,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMEY0RkFENjIyQkNFMTUyMDZEOQA=": 1782896399339,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMEQ4QkEyQTU4OTk2MTNENzgwNgA=": 1782896419539,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMDAxOUYyRUZCNzlEM0Y5NTY5RAA=": 1782896438642,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMDlDN0QzQTlERkQyQzFCQTVGQwA=": 1782896921539,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMDYxQUFCMzdBQUMzMjQ4NTZBRAA=": 1782897140144,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMDU1MzM5RTBGODQyRTk2OTdFNAA=": 1782897155135,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMDQ5Njc2OEQ0QjgwNUQ2M0ExNQA=": 1782897181335,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMDIwNkE2MUZCRjlGRkU0MEY4OAA=": 1782897200831,
        "wamid.HBgMOTE3MDU4NDQ0ODA4FQIAEhgWM0VCMDI4REE1NDc0MzhBQUVBMTJGNAA=": 1782897218330
      },
      "conversations": {
        "917082071949": [
          {
            "role": "user",
            "message": "Re assign the same task to Pranay"
          },
          {
            "role": "assistant",
            "message": "Hi! I'm Pranay from Handysolver Car Dealership . Welcome! How can I help you today?"
          },
          {
            "role": "user",
            "message": "Show me high priority tasks"
          },
          {
            "role": "assistant",
            "message": "We have a wide range of popular cars across various segments. Would you like to know about our top-selling models?"
          }
        ],
        "917058444808": [
          {
            "role": "user",
            "message": "And for BMW, it's 1pm tomorrow"
          },
          {
            "role": "assistant",
            "message": "I've updated the BMW 7 series booking to 29-06-2026 at 1pm, Pranay Khadse."
          },
          {
            "role": "user",
            "message": "Book a test drive today at 9 pm for hyundai creta"
          },
          {
            "role": "assistant",
            "message": "Your test drive for Hyundai Creta is booked for today at 9pm, Pranay Khadse."
          },
          {
            "role": "user",
            "message": "Hi"
          },
          {
            "role": "assistant",
            "message": "Hello! How can I help you today? 😊"
          },
          {
            "role": "user",
            "message": "I didn't get reminder for yesterday's test drive bookings"
          },
          {
            "role": "assistant",
            "message": "Hello! How can I help you today? 😊"
          },
          {
            "role": "user",
            "message": "I didn't get reminder for yesterday's test drive bookings"
          },
          {
            "role": "assistant",
            "message": "Hello! How can I help you today? 😊"
          },
          {
            "role": "user",
            "message": "What is this?"
          },
          {
            "role": "assistant",
            "message": "Hello! How can I help you today? 😊"
          },
          {
            "role": "user",
            "message": "Book a test drive"
          },
          {
            "role": "assistant",
            "message": "Hello! How can I help you today? 😊"
          },
          {
            "role": "user",
            "message": "Hi"
          },
          {
            "role": "assistant",
            "message": "Hello! How can I help you today? 😊"
          },
          {
            "role": "user",
            "message": "Please book a test drive"
          },
          {
            "role": "assistant",
            "message": "Hello! How can I help you today? 😊"
          },
          {
            "role": "user",
            "message": "Hi"
          },
          {
            "role": "assistant",
            "message": "I'm a bit busy right now, please send your message again! ??"
          },
          {
            "role": "user",
            "message": "Hi"
          },
          {
            "role": "assistant",
            "message": "Hello! How can I help you today? ??"
          },
          {
            "role": "user",
            "message": "I want to book a test drive"
          },
          {
            "role": "assistant",
            "message": "Perfect! What date works for you, and what time? We're available any time between 9am-9pm"
          },
          {
            "role": "user",
            "message": "tomorrow 3 pm"
          },
          {
            "role": "assistant",
            "message": "Tomorrow would be 2-07-2026. I've booked your test drive for 2-07-2026, 3pm. Which car would you like to test drive?"
          },
          {
            "role": "user",
            "message": "Honda city"
          },
          {
            "role": "assistant",
            "message": "Your test drive for Honda City is booked for 2-07-2026, 3pm."
          },
          {
            "role": "user",
            "message": "Hi"
          },
          {
            "role": "assistant",
            "message": "I'm a bit busy right now, please send your message again! ??"
          },
          {
            "role": "user",
            "message": "Hi"
          },
          {
            "role": "assistant",
            "message": "Hey! What can I help you with?"
          },
          {
            "role": "user",
            "message": "Book a test drive"
          },
          {
            "role": "assistant",
            "message": "You already have a test drive booked for Honda City on 2-07-2026, 3pm. Would you like to change or confirm this booking?"
          },
          {
            "role": "user",
            "message": "Book one more test drive"
          },
          {
            "role": "assistant",
            "message": "Which car would you like to test drive?"
          },
          {
            "role": "user",
            "message": "Baleno"
          },
          {
            "role": "assistant",
            "message": "Perfect! What date works for you, and what time? We're available any time between 9am-9pm ??"
          },
          {
            "role": "user",
            "message": "tomorrow 3:30pm"
          },
          {
            "role": "assistant",
            "message": "Your test drive for Baleno is booked for tomorrow, 2-07-2026, 3:30pm."
          }
        ]
      },
      "lastBookings": {
        "917058444808": {
          "car": "Audi Q7, BMW 7 series",
          "date": "28-06-2026",
          "time": "6:27PM, 6:25PM",
          "confirmedAt": "2026-06-27T17:49:46.435Z"
        }
      },
      "customerNames": {
        "917058444808": "Pranay Khadse"
      },
      "_pendingIsFirst": false,
      "_pendingAgent": "Amit"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "026effc0-362c-4eb4-b92d-6c7502c8de4d",
  "activeVersionId": "026effc0-362c-4eb4-b92d-6c7502c8de4d",
  "versionCounter": 211,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-25T19:00:33.432Z",
      "createdAt": "2026-06-25T19:00:33.432Z",
      "role": "workflow:owner",
      "workflowId": "KpQWF3OSLckjAbCt",
      "projectId": "jTpuEj6tpwhFKSka",
      "project": {
        "updatedAt": "2026-06-22T09:33:24.035Z",
        "createdAt": "2026-06-21T19:54:12.840Z",
        "id": "jTpuEj6tpwhFKSka",
        "name": "Pranay Khadse <pranay.handysolver@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9a3a38c6-7295-436e-9d84-f0ce111a1dba"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-01T09:11:34.438Z",
    "createdAt": "2026-07-01T09:11:34.438Z",
    "versionId": "026effc0-362c-4eb4-b92d-6c7502c8de4d",
    "workflowId": "KpQWF3OSLckjAbCt",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp-webhook",
          "options": {}
        },
        "id": "8fe0c57e-3195-44ab-bc7f-e9352c9aec0a",
        "name": "WhatsApp Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -2480,
          16
        ],
        "webhookId": "339a3fc7-2e85-4623-8166-5cd972d35989"
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            }
          },
          "options": {}
        },
        "id": "18e41207-3dc6-4c7d-8f00-45e579c39066",
        "name": "Only Incoming Messages",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          -2272,
          16
        ]
      },
      {
        "parameters": {
          "jsCode": "try {\n  const value = $json.body?.entry?.[0]?.changes?.[0]?.value;\n  if (!value || value.statuses || !value.messages || !value.messages[0]) return [];\n  \n  const messageId = value.messages[0].id;\n  if (!messageId) return [];\n\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.processedMessages) staticData.processedMessages = {};\n\n  const now = Date.now();\n  for (const id in staticData.processedMessages) {\n    if (now - staticData.processedMessages[id] > 3600000) {\n      delete staticData.processedMessages[id];\n    }\n  }\n\n  if (staticData.processedMessages[messageId]) return [];\n\n  staticData.processedMessages[messageId] = now;\n  return [$input.first()];\n} catch(e) {\n  return [];\n}"
        },
        "id": "4ba81dce-a81e-49ec-8e1b-85da8351d538",
        "name": "Deduplicate Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2000,
          16
        ]
      },
      {
        "parameters": {
          "jsCode": "const entry = $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value;\nconst message = entry.messages[0];\nconst messageType = message.type;\nconst phone = message.from;\n\nif (messageType !== 'text') {\n  return [{\n    json: {\n      isText: false,\n      phone: phone,\n      type: messageType,\n      reply: \"Sorry, I can only process text messages right now. ?? Please type your query and I'll be happy to help!\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isText: true,\n    phone: phone,\n    type: 'text',\n    message: message.text.body\n  }\n}];"
        },
        "id": "e9bec9af-c33a-4b3b-a6e0-c836a96d4ca7",
        "name": "Check Message Type",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1744,
          16
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6f66543c-654b-4334-8483-be233f64bf51",
                "leftValue": "={{ $json.isText }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "bc0e3039-cd99-4685-9c4e-69da4429bfee",
        "name": "Is Text Message?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1536,
          16
        ]
      },
      {
        "parameters": {
          "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "action",
                "value": "getHistory"
              },
              {
                "name": "phone",
                "value": "={{ $json.phone }}"
              }
            ]
          },
          "options": {}
        },
        "id": "f1c8f6fd-fb20-4112-be25-13050a3787c2",
        "name": "Get History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1328,
          16
        ],
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Build Groq Request').item.json.groqKey }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($('Build Groq Request').item.json.body) }}",
          "options": {}
        },
        "id": "65d18b1d-ef2c-452b-86d1-13cee9680a51",
        "name": "Groq AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -896,
          16
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "try {\n  const raw = $('Groq AI').first().json;\n\n  if (!raw.choices || !raw.choices[0] || !raw.choices[0].message) {\n    return [{ json: { message: \"I'm a bit busy right now, please send your message again! ??\", booking: null, hasBooking: false, stage: 'error' } }];\n  }\n\n  const responseText = raw.choices[0].message.content || '';\n  let parsed;\n\n  try {\n    parsed = JSON.parse(responseText);\n  } catch(e) {\n    const match = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); }\n      catch(e2) { return [{ json: { message: responseText.replace(/[\\x00-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim(), booking: null, hasBooking: false, stage: 'other' } }]; }\n    } else {\n      return [{ json: { message: responseText.replace(/[\\x00-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim(), booking: null, hasBooking: false, stage: 'other' } }];\n    }\n  }\n\n  const message = (parsed.message || \"Sorry, I couldn't process that. Please try again!\")\n    .replace(/[\\x00-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim();\n\n  const booking = parsed.booking || null;\n  const currentMsg = ($('Check Message Type').first().json.message || '').toLowerCase().trim();\n\n  const greetingWords = ['hi','hello','hey','hii','helo','namaste','hola','sup','yo','hai'];\n  const isPureGreeting = greetingWords.includes(currentMsg);\n\n  const noBookingPhrases = [\n    'was booking', 'kya booking', 'booking done', 'booking hua', 'booking huyi',\n    'book ho gayi', 'book hua', 'book huyi', 'check booking', 'booking ho gayi',\n    'pahle booking', 'pichhli booking', 'previous booking', 'booking check',\n    'kya pichhli', 'booking huyi thi', 'was my booking', 'is my booking',\n    'booking status', 'meri booking', 'booking confirm hui'\n  ];\n\n  const isSafetyBlock = isPureGreeting || noBookingPhrases.some(phrase => currentMsg.includes(phrase));\n  const hasBooking = !isSafetyBlock && !!(booking && booking.car && booking.date && booking.time);\n\n  return [{ json: { message, booking: hasBooking ? booking : null, hasBooking, stage: parsed.stage || 'other' } }];\n\n} catch(e) {\n  return [{ json: { message: \"Sorry, something went wrong. Please try again!\", booking: null, hasBooking: false, stage: 'error' } }];\n}"
        },
        "id": "98f8bff4-111b-4671-8f17-035657596417",
        "name": "Parse Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -688,
          16
        ]
      },
      {
        "parameters": {
          "jsCode": "const phone = $('Check Message Type').first().json.phone;\nconst userMessage = $('Check Message Type').first().json.message;\nconst aiResponse = $('Parse Response').first().json.message;\nconst stage = $('Parse Response').first().json.stage;\nconst booking = $('Parse Response').first().json.booking;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.conversations) staticData.conversations = {};\nif (!staticData.lastBookings) staticData.lastBookings = {};\nif (!staticData.conversations[phone]) staticData.conversations[phone] = [];\n\nstaticData.conversations[phone].push({ role: 'user', message: userMessage });\nstaticData.conversations[phone].push({ role: 'assistant', message: aiResponse });\n\nif (staticData.conversations[phone].length > 40) {\n  staticData.conversations[phone] = staticData.conversations[phone].slice(-40);\n}\n\nif (stage === 'confirmed' && booking && booking.car && booking.date && booking.time) {\n  staticData.lastBookings[phone] = {\n    car: booking.car,\n    date: booking.date,\n    time: booking.time,\n    confirmedAt: new Date().toISOString()\n  };\n  staticData.conversations[phone] = staticData.conversations[phone].slice(-6);\n}\n\nreturn [{ json: { saved: true, historyLength: staticData.conversations[phone].length } }];"
        },
        "id": "f13312bb-10e9-428d-bf86-d6ce988e84a2",
        "name": "Save History",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          16
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "29e70ed5-ad29-4470-a8f4-519afb19a76a",
                "leftValue": "={{ $('Parse Response').item.json.hasBooking }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ed599854-7e08-449d-9798-74a8fcac211a",
        "name": "Has Booking?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -288,
          16
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v25.0/{{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.metadata.phone_number_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer EAAXR63I2WKMBR4KQao7Xs1CtKHxnIMT4IUz8jngkz3ZC6NjqR7Bh2btKZCyKYOyFo3uAzj65Pz3KF2sOk1sWBsHRDlXF2WZAcV6PIMRqHtfZByfcBlfTD1m8hO6qQehTNUDbSNVqNwCTToXX3C9wlRtMwhX65XfxhlvX6c3cMTZApb4t1bCe0GA6xSOtKAQZDZD"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "messaging_product",
                "value": "whatsapp"
              },
              {
                "name": "to",
                "value": "={{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.messages[0].from }}"
              },
              {
                "name": "type",
                "value": "text"
              },
              {
                "name": "text",
                "value": "={{ ({body: \"Just a moment... ?\"}) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "bbe4e57d-18db-4f9c-949e-3c5d0b7212c0",
        "name": "Send Processing Msg",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"action\": \"saveBooking\",\n  \"name\": \"WA-{{ $('WhatsApp Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"phone\": \"{{ $('WhatsApp Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"car\": \"{{ $('Parse Response').item.json.hasBooking ? $('Parse Response').item.json.booking.car : '' }}\",\n  \"date\": \"{{ $('Parse Response').item.json.hasBooking ? $('Parse Response').item.json.booking.date : '' }}\",\n  \"time\": \"{{ $('Parse Response').item.json.hasBooking ? $('Parse Response').item.json.booking.time : '' }}\"\n}",
          "options": {}
        },
        "id": "73f0e3c0-65ef-4c14-801b-13f1a2025a4b",
        "name": "Save Booking",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          272,
          0
        ],
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://script.google.com/macros/s/AKfycbzoYisQi9UxCYe7NBypqS3jQTAWOkGgfvyLF09Rkb_XX34AN6MTfbQpsbZk03uIpLCs/exec",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"action\": \"saveConversation\",\n  \"phone\": \"{{ $('WhatsApp Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"userMessage\": \"{{ $('WhatsApp Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body }}\",\n  \"aiResponse\": \"{{ $('Parse Response').item.json.message }}\"\n}",
          "options": {}
        },
        "id": "1a7a1cfd-8d59-4d25-8b41-e65c12a20bc3",
        "name": "Save Conversation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          496,
          0
        ],
        "retryOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v25.0/{{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.metadata.phone_number_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer EAAXR63I2WKMBR4KQao7Xs1CtKHxnIMT4IUz8jngkz3ZC6NjqR7Bh2btKZCyKYOyFo3uAzj65Pz3KF2sOk1sWBsHRDlXF2WZAcV6PIMRqHtfZByfcBlfTD1m8hO6qQehTNUDbSNVqNwCTToXX3C9wlRtMwhX65XfxhlvX6c3cMTZApb4t1bCe0GA6xSOtKAQZDZD"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "messaging_product",
                "value": "whatsapp"
              },
              {
                "name": "to",
                "value": "={{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.messages[0].from }}"
              },
              {
                "name": "type",
                "value": "text"
              },
              {
                "name": "text",
                "value": "={{ ({body: $('Parse Response').first().json.message}) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "31d486bd-7c2d-404f-ab56-b1c31e21df74",
        "name": "Send AI Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          160,
          272
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v25.0/{{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.metadata.phone_number_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer EAAXR63I2WKMBR4KQao7Xs1CtKHxnIMT4IUz8jngkz3ZC6NjqR7Bh2btKZCyKYOyFo3uAzj65Pz3KF2sOk1sWBsHRDlXF2WZAcV6PIMRqHtfZByfcBlfTD1m8hO6qQehTNUDbSNVqNwCTToXX3C9wlRtMwhX65XfxhlvX6c3cMTZApb4t1bCe0GA6xSOtKAQZDZD"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "messaging_product",
                "value": "whatsapp"
              },
              {
                "name": "to",
                "value": "={{ $('WhatsApp Webhook').first().json.body.entry[0].changes[0].value.messages[0].from }}"
              },
              {
                "name": "type",
                "value": "text"
              },
              {
                "name": "text",
                "value": "={{ ({body: \"Sorry, I can only read text messages ?? Please type your question and I'll help you right away!\"}) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "de6b6ce6-42c4-4682-af8b-3b52985d2656",
        "name": "Send Non-Text Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1344,
          272
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://car-dealership-xi-rouge.vercel.app/api/n8n/message",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ phone: $('Check Message Type').first().json.phone, name: 'WA-' + $('Check Message Type').first().json.phone, inbound_text: $('Check Message Type').first().json.message, outbound_text: $('Parse Response').first().json.message, booking: $('Parse Response').first().json.hasBooking ? $('Parse Response').first().json.booking : null }) }}",
          "options": {}
        },
        "id": "dashboard-sync-0001-0001-0001",
        "name": "Sync to Dashboard",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -480,
          272
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const phone = $('Check Message Type').first().json.phone;\nconst currentMessage = $('Check Message Type').first().json.message;\n\nconst names = ['Raj','Priya','Amit','Neha','Rahul','Pooja','Vikram','Anjali'];\nconst nameIndex = phone.split('').reduce((sum,c) => sum+c.charCodeAt(0),0) % names.length;\nconst agentName = names[nameIndex];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.conversations) staticData.conversations = {};\nif (!staticData.lastBookings) staticData.lastBookings = {};\n\nconst history = (staticData.conversations[phone] || [])\n  .filter(m => m.message && m.message.trim().length > 0)\n  .slice(-10);\n\nlet budget = '', carInterest = '', bookingStage = 'initial';\nconst historyText = history.map(m => m.message).join(' ').toLowerCase();\nconst bm = historyText.match(/(\\d+[\\s]*(?:lakh|lac|k|thousand|crore))/);\nif (bm) budget = bm[0];\nconst carBrands = ['maruti','swift','baleno','dzire','wagon','alto','celerio','ignis','ertiga','brezza','vitara','xl6','ciaz','spresso','honda','city','amaze','elevate','jazz','hyundai','creta','i20','venue','verna','aura','alcazar','tucson','ioniq','kona','tata','nexon','harrier','safari','punch','altroz','tiago','tigor','curvv','mahindra','scorpio','xuv','bolero','thar','marazzo','toyota','innova','fortuner','glanza','hyryder','kia','seltos','sonet','carens','ev6','volkswagen','virtus','taigun','skoda','slavia','kushaq','mg','hector','astor','windsor','comet','zsev','jeep','compass','meridian','wrangler','renault','kiger','kwid','triber','duster','nissan','magnite','kicks','bmw','audi','mercedes','volvo','lexus','jaguar','land rover','porsche','citroen','isuzu','byd','force'];\nfor (const b of carBrands) { if (historyText.includes(b)) { carInterest = b; break; } }\nif (historyText.includes('test drive') || historyText.includes('book')) bookingStage = 'booking';\nelse if (historyText.includes('price') || historyText.includes('cost') || historyText.includes('budget')) bookingStage = 'qualification';\nelse if (history.length > 0) bookingStage = 'conversation';\n\nconst isFirstMessage = history.length === 0;\n\nconst today = new Date();\nconst todayStr = today.toLocaleDateString('en-IN', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  timeZone: 'Asia/Kolkata'\n});\n\nconst lastBooking = staticData.lastBookings[phone];\nconst lastBookingInfo = lastBooking\n  ? `CUSTOMER'S LAST CONFIRMED BOOKING: Car = ${lastBooking.car}, Date = ${lastBooking.date}, Time = ${lastBooking.time}. Use this when customer asks about their booking status.`\n  : `No previous booking on record for this customer.`;\n\nconst greetingWords = ['hi','hello','hey','hii','helo','namaste','hola','sup','yo','hai','hei'];\nconst isPureGreeting = greetingWords.includes(currentMessage.trim().toLowerCase());\n\nconst systemPrompt = `You are ${agentName}, a friendly sales agent at Handysolver Car Dealership.\nToday is ${todayStr}.\n\n${lastBookingInfo}\n\nCRITICAL RULES:\n1. ${isFirstMessage ? `FIRST message - say: \"Hi! I'm ${agentName} from Handysolver Car Dealership ?? Welcome! How can I help you today?\"` : `NOT first message. NEVER say hello or re-introduce yourself. Continue naturally.`}\n2. Context: Budget=${budget||'not mentioned'}, Car Interest=${carInterest||'not mentioned'}, Stage=${bookingStage}\n3. SHORT replies (2-4 lines). Conversational. No bullet points unless listing cars.\n4. Respond in same language as customer (Hindi/Hinglish/English).\n5. ${isPureGreeting && isFirstMessage ? `FIRST greeting - reply ONLY: \"Hello! How can I help you today? ??\" Return booking: {\"car\":null,\"date\":null,\"time\":null} and stage: \"other\".` : isPureGreeting ? `Customer said hi mid-conversation. Reply naturally and warmly (e.g. \"Hey! What can I help you with?\") - do NOT re-introduce yourself. Return booking: {\"car\":null,\"date\":null,\"time\":null} and stage: \"other\".` : `Continue naturally based on context.`}\n\nINVENTORY:\nWe are a multi-brand dealership stocking ALL popular cars available in India across every segment and brand - Maruti Suzuki, Hyundai, Tata, Honda, Kia, Toyota, Mahindra, MG, Skoda, Volkswagen, Renault, Nissan, Jeep, Citroen, Isuzu, BYD, BMW, Audi, Mercedes-Benz, Volvo, and more. New and used cars both available.\n\nPRICE RANGES BY SEGMENT:\n- Hatchbacks: ?3.5L-11L (Alto, Swift, i20, Altroz, Baleno, Wagon R, Tiago, Kwid etc.)\n- Micro SUVs: ?6L-15L (Punch, Magnite, Kiger, XUV 3XO etc.)\n- Sedans: ?6.5L-19L (Dzire, City, Verna, Amaze, Slavia, Virtus etc.)\n- Compact SUVs: ?8L-22L (Nexon, Brezza, Venue, Sonet, Elevate, Kushaq, Taigun, Compass etc.)\n- Mid SUVs: ?11L-25L (Creta, Seltos, Alcazar, Hector, Astor, Grand Vitara etc.)\n- Large SUVs: ?13L-40L (Harrier, Safari, Scorpio N, Thar, Fortuner, Tucson etc.)\n- MPVs: ?6L-30L (Ertiga, Carens, Innova Crysta, Innova HyCross, XL6, Triber etc.)\n- Electric: ?7L-65L+ (Tiago EV, Punch EV, Nexon EV, Windsor EV, ZS EV, Ioniq 5, EV6, BYD Atto 3 etc.)\n- Luxury: ?45L-2Cr+ (BMW, Audi, Mercedes, Volvo, Jaguar, Porsche etc.)\n- Used Cars: Starting ?2L\n\nINVENTORY RULE: Since we stock all popular Indian cars, NEVER say a car is unavailable unless it is not sold in India at all. Use your knowledge of Indian car prices and variants to answer accurately. EMI, exchange, and insurance available on all cars.\n\nBOOKING RULES:\n6. Set booking.car, booking.date, booking.time to non-null ONLY when customer provides ALL THREE in their CURRENT message - car model + specific date (DD-MM-YYYY) + time slot.\n7. When customer agrees to test drive ? ask: \"Perfect! What date works for you, and what time? We're available any time between 9am-9pm ??\"\n8. When customer gives relative date (tomorrow, next Monday etc.) ? calculate exact date from today (${todayStr}) and confirm.\n9. CONFIRMATION: Any affirmative response counts as YES - yes, haan, ok, sure, absolutely, correct, right, exactly, perfect, definitely, of course, bilkul, theek hai, yep, yup, ha.\n10. booking.date must ALWAYS be in DD-MM-YYYY format.\n11. If date is in the past ? say \"That date has passed! Could you pick a future date? ??\"\n\nSTATUS & REPEAT SCENARIOS:\n12. Status questions ? use LAST CONFIRMED BOOKING info to answer.\n13. Cancel request ? say \"I'll have our team cancel your booking. They'll contact you shortly.\"\n14. Reschedule request ? ask for new date/time only.\n\nCUSTOMER HANDLING:\n15. Angry/frustrated ? \"I completely understand your frustration, and I'm sorry for the inconvenience. ??\"\n16. Off-topic ? \"Ha ha! I wish I could help with that ?? But I'm your car expert!\"\n17. Budget under ?3L ? suggest used cars starting ?2L.\n18. NEVER say \"Let me check\" or \"I'll look up\" - answer confidently.\n19. Business hours 9am-9pm. Outside hours ? ask for a slot between 9am-9pm.\n\nOUTPUT RULES - CRITICAL:\n- Return valid JSON only. No extra text.\n- Format: {\"message\":\"reply here\",\"stage\":\"initial|qualification|recommendation|booking|confirmed|other\",\"booking\":{\"car\":null,\"date\":null,\"time\":null}}\n- stage = \"confirmed\" ONLY when setting all three booking fields to non-null.\n- booking.time format: \"9am\", \"10am\", \"11am\", \"12pm\", \"1pm\" etc. NEVER 24-hour format.\n- For ALL other messages booking must be: {\"car\":null,\"date\":null,\"time\":null}`;\n\nconst messages = [{ role: 'system', content: systemPrompt }];\nfor (const msg of history) {\n  messages.push({ role: msg.role === 'assistant' ? 'assistant' : 'user', content: msg.message });\n}\nmessages.push({ role: 'user', content: currentMessage });\n\nconst groqKeys = [\n  \"GROQ_KEY_1\",\n  \"GROQ_KEY_2\",\n  \"GROQ_KEY_3\",\n  \"GROQ_KEY_4\",\n  \"GROQ_KEY_5\"\n];\nconst groqKey = groqKeys[Math.floor(Math.random() * groqKeys.length)];\n\nreturn [{\n  json: {\n    groqKey,\n    body: {\n      model: \"llama-3.3-70b-versatile\",\n      messages: messages,\n      temperature: 0.3,\n      max_tokens: 500,\n      response_format: { type: \"json_object\" }\n    }\n  }\n}];"
        },
        "id": "3af2f09b-42d7-4739-9da2-c88ddd595eea",
        "name": "Build Groq Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1120,
          16
        ]
      }
    ],
    "connections": {
      "WhatsApp Webhook": {
        "main": [
          [
            {
              "node": "Only Incoming Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Only Incoming Messages": {
        "main": [
          [
            {
              "node": "Deduplicate Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduplicate Message": {
        "main": [
          [
            {
              "node": "Check Message Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Message Type": {
        "main": [
          [
            {
              "node": "Is Text Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Text Message?": {
        "main": [
          [
            {
              "node": "Get History",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Non-Text Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get History": {
        "main": [
          [
            {
              "node": "Build Groq Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq AI": {
        "main": [
          [
            {
              "node": "Parse Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Response": {
        "main": [
          [
            {
              "node": "Save History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save History": {
        "main": [
          [
            {
              "node": "Has Booking?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Sync to Dashboard",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Booking?": {
        "main": [
          [
            {
              "node": "Send Processing Msg",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send AI Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Processing Msg": {
        "main": [
          [
            {
              "node": "Save Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Booking": {
        "main": [
          [
            {
              "node": "Save Conversation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Conversation": {
        "main": [
          [
            {
              "node": "Send AI Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sync to Dashboard": {
        "main": [
          []
        ]
      },
      "Build Groq Request": {
        "main": [
          [
            {
              "node": "Groq AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Pranay Khadse",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-01T09:11:37.341Z",
        "id": 90,
        "workflowId": "KpQWF3OSLckjAbCt",
        "versionId": "026effc0-362c-4eb4-b92d-6c7502c8de4d",
        "event": "activated",
        "userId": "9a3a38c6-7295-436e-9d84-f0ce111a1dba"
      },
      {
        "createdAt": "2026-07-01T09:11:34.831Z",
        "id": 89,
        "workflowId": "KpQWF3OSLckjAbCt",
        "versionId": "026effc0-362c-4eb4-b92d-6c7502c8de4d",
        "event": "deactivated",
        "userId": "9a3a38c6-7295-436e-9d84-f0ce111a1dba"
      }
    ]
  }
}